[defaults]
inventory           = /etc/ansible/Ansible_Simulator_Lab/inventory
private_key_file    = /root/.ssh/ansible
remote_user         = root
host_key_checking   = False
forks               = 5
vault_password_file = /root/.vault_pass

[privilege_escalation]
become              = False
